.idea
.vscode
.eclipse

.venv
__pycache__

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

cdktf.out
cdktf.out/*
cdktf.out/**

*.js

**/*.js
**/*.map
**/*.d.ts

*.tgz
*.zip

*.log
*.crt
*.pem

.DS_Store

reporting
coverage
build

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

router.cache.json

.env
.env.backup
.env.backup.*

.env.*.local

!globals.d.ts
!react-app-env.d.ts

!scripts/*.js
!scripts/**/*.js

!config/*.js
!config/**/*.js

!public/*.js
!public/**/*.js
